<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><%= actor.first_name + ' ' + actor.last_name %></h1>

    <h3>Peliculas en las que actuo:</h3>

    <ul>
        <% actor.movies.forEach((peli) => { %>
        <li>
            <%= peli.title %>
        </li>
        <% }) %>
    </ul>

</body>

</html>